---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: pipeline-metrics-exporter
  namespace: openshift-pipelines
  annotations:
    argocd.argoproj.io/sync-wave: "0"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pipeline-metrics-exporter
  template:
    metadata:
      labels:
        app: pipeline-metrics-exporter
    spec:
      serviceAccountName: pipeline-service-exporter
      containers:
        - name: pipeline-metrics-exporter
          image: quay.io/redhat-appstudio/pipeline-service-exporter:placeholder
          ports:
            - containerPort: 9117
              name: metrics
          resources:
            requests:
              memory: "128Mi"
              cpu: "250m"
            limits:
              memory: "512Mi"
              cpu: "500m"
      restartPolicy: Always
