---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: pipeline-metrics-exporter
  namespace: openshift-pipelines
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pipeline-metrics-exporter
  template:
    metadata:
      labels:
        app: pipeline-metrics-exporter
    spec:
      containers:
        - name: pipeline-metrics-exporter
          image: quay.io/redhat-pipeline-service/metrics-exporter:65e8e6d
          ports:
            - containerPort: 9117
          resources:
            requests:
              memory: "64Mi"
              cpu: "100m"
            limits:
              memory: "128Mi"
              cpu: "500m"
      restartPolicy: Always
