---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: tekton-results
resources:
  - https://github.com/openshift-pipelines/tektoncd-results.git/config/overlays/default-local-db/?ref=d384e7fec22bcd1b2c3e108a68cb32da4d4e6020
  - namespace.yaml
  - api-route.yaml
  - watcher-logging-rbac.yaml

images:
  - name: ko://github.com/tektoncd/results/cmd/api
    newName: quay.io/redhat-appstudio/tekton-results-api
    newTag: d384e7fec22bcd1b2c3e108a68cb32da4d4e6020
  - name: ko://github.com/tektoncd/results/cmd/watcher
    newName: quay.io/redhat-appstudio/tekton-results-watcher
    newTag: d384e7fec22bcd1b2c3e108a68cb32da4d4e6020
  - name: ko://github.com/tektoncd/results/tools/migrator
    newName: quay.io/redhat-appstudio/tekton-results-migrator
    newTag: d384e7fec22bcd1b2c3e108a68cb32da4d4e6020

# generate a new configmap with updated values (logs api, db ssl mode) and replace the default one
configMapGenerator:
  - name: api-config
    namespace: tekton-pipelines
    files:
      - env/config
    options:
      disableNameSuffixHash: true
    behavior: replace

patchesStrategicMerge:
  - api-migrator-config.yaml
  - api-db-config.yaml
  - api-s3-config.yaml
  - api-service-tls.yaml
  - watcher-config.yaml
  - watcher-logging.yaml
  - delete-postgres.yaml
