---
apiVersion: v1
kind: Pod
metadata:
  name: ci-runner
spec:
  containers:
    - name: ci-runner
      image: quay.io/redhat-pipeline-service/ci-runner:main
      imagePullPolicy: Always
      resources:
        requests:
          ephemeral-storage: "2Gi"
        limits:
          ephemeral-storage: "2Gi"
      command:
        - /bin/bash
        - -c
        - sleep 3600
      securityContext:
        privileged: true
      volumeMounts:
        - name: ci-runner-storage
          mountPath: "/workspace"
      workingDir: "/workspace/source"
  volumes:
    - name: ci-runner-storage
      persistentVolumeClaim:
        claimName: ci-runner-pvc
