---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - allow-argocd-to-manage.yaml
  - appstudio-pipelines-scc.yaml
  - openshift-operator.yaml
  - tekton-config.yaml
  - config-pac.yaml
  - config-logging.yaml
