---
apiVersion: operator.tekton.dev/v1alpha1
kind: TektonConfig
metadata:
  name: config
  annotations:
    # This Argo CD annotation ensures that Argo CD will skip the dry if the resource is not yet known to the cluster,
    # the CRD will be applied and the resource can be created once the required dependencies are met.
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
spec:
  platforms:
    openshift:
      pipelinesAsCode:
        enable: false
  pipeline:
    default-service-account: pipeline
    enable-tekton-oci-bundles: true
    embedded-status: minimal
  pruner:
    keep: 10
    resources:
      - pipelinerun
    schedule: 0/2 * * * *
  profile: all
  targetNamespace: openshift-pipelines
