---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.yaml
  - permissions.yaml
  - service-account.yaml
  - configmap.yaml
  - route.yaml
  - deployment.yaml
  - service.yaml
  - db-service.yaml
  - db-configmap.yaml
  - db-statefulset.yaml
images:
  - name: tekton-results-api
    newName: quay.io/redhat-appstudio/tekton-results-api
    newTag: 18f7ee98d3f95d58d061a6ccee18fbfffeeae8f7
  - name: tekton-results-watcher
    newName: quay.io/redhat-appstudio/tekton-results-watcher
    newTag: 18f7ee98d3f95d58d061a6ccee18fbfffeeae8f7

patchesJson6902:
  - target:
      kind: Namespace
      name: tekton-results
    patch: |-
      - op: add
        path: "/metadata/labels"
        value:
          argocd.argoproj.io/managed-by: openshift-gitops
